body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #1c1c1c;
    color: #fff;
}
      
.download-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
      
.download-button {
    display: inline-block;
    width: 200px;
    height: 80px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .download-button:hover {
    background-color: #45a049;
    text-decoration: none;
  }
      
.copy-button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

a {
    color: #ebdf58;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}